table {
    text-align: center;
    margin-top: 20px;
    border-collapse: collapse;
    margin-bottom: 30px;
}
thead {
    background-color: lightblue
}
td {
    width: 10%;
    border: 1px solid black;
    padding: 10px;
}
@media screen and (min-width: 900px) {
    table, .city-form {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }
}
@media screen and (max-width: 899px) {
    table, .city-form {
        width: 100%;
    }
}
.user-weather-table {
    margin-bottom: 20px;
    margin-top: 20px;
}
.city-form {
    margin-bottom: 10px;
}
.table-btn {
    margin: 10px;
    width: 70px;
}