<td>{{weather.getCity() + (weather.getSelected() ? ' *' : '')}}</td>
<td>{{weather.getCoordinate().getLatitude() | number : '1.0-3'}}</td>
<td>{{weather.getCoordinate().getLongitude() | number : '1.0-3'}}</td>
<td><weather-icon [description]="weather.getDescription()"></weather-icon></td>
<td>{{weather.getMainParams().getTemperature() | sgKelvinToCelsius : 1 }}</td>
<td>{{weather.getMainParams().getHumidity()}}</td>
<td>{{weather.getMainParams().getPressure()}}</td>
<td><wind-section [wind]="weather.getWind()"></wind-section></td>
<td>{{weather.getCloud().getAll()}}</td>
<td>
    <button class="table-btn" (click)="remove()">Delete</button>
    <button class="table-btn" (click)="select()">{{weather.getSelected() ? 'Unselect' : 'Select'}}</button>
</td>