<table *ngIf="weatherList && weatherList.length">
    <thead>
        <tr>
            <td>City</td>
            <td *ngIf="!tableParameters || (tableParameters && tableParameters.getShowCoordinate())">Latitude</td>
            <td *ngIf="!tableParameters || (tableParameters && tableParameters.getShowCoordinate())">Longitude</td>
            <td *ngIf="!tableParameters || (tableParameters && tableParameters.getSelectedOptions() && tableParameters.getSelectedOptions().indexOf('Overall conditions') != -1)">Overall conditions</td>
            <td *ngIf="!tableParameters || (tableParameters && tableParameters.getSelectedOptions() && tableParameters.getSelectedOptions().indexOf('Temperature') != -1)">Temperature, &#8451;</td>
            <td *ngIf="!tableParameters || (tableParameters && tableParameters.getSelectedOptions() && tableParameters.getSelectedOptions().indexOf('Humidity') != -1)">Humidity</td>
            <td *ngIf="!tableParameters || (tableParameters && tableParameters.getSelectedOptions() && tableParameters.getSelectedOptions().indexOf('Pressure') != -1)">Pressure</td>
            <td *ngIf="!tableParameters || (tableParameters && tableParameters.getSelectedOptions() && tableParameters.getSelectedOptions().indexOf('Wind') != -1)">Wind</td>
            <td *ngIf="!tableParameters || (tableParameters && tableParameters.getSelectedOptions() && tableParameters.getSelectedOptions().indexOf('Clouds') != -1)">Clouds</td>
            <td>Actions</td>
        </tr>
    </thead>
    <tbody class="weather-table-body">   
        <tr *ngFor="let weather of weatherList; let i = index" city-weather weather-color [tableParameters]="tableParameters"
            [weather]="weather" [index]="i" (deleteNotify)="remove($event)" (selectNotify)="select($event)">
        </tr>             
    </tbody>           
</table>