<!--div *ngIf="weatherPromise | async"-->
<div *ngIf="weatherList && weatherList.length">
    <table>
        <thead>
            <tr>
                <td>City</td>
                <td>Latitude</td>
                <td>Longitude</td>
                <td>Temperature, &#8451;</td>
                <td>Humidity</td>
                <td>Pressure</td>
                <td>Wind degree</td>
                <td>Wind speed</td>
                <td>Clouds</td>
            </tr>
        </thead>
        <tbody class="weather-table-body">  
            <!--tr *ngFor="let weather of weatherPromise | async"--> 
            <tr *ngFor="let weather of weatherList">
                <td>{{weather.getCity()}}</td>
                <td>{{weather.getCoordinate().getLatitude() | number : '1.0-3'}}</td>
                <td>{{weather.getCoordinate().getLongitude() | number : '1.0-3'}}</td>
                <td>{{weather.getMainParams().getTemperature() | kelvinToCelsius : 1 }}</td>
                <td>{{weather.getMainParams().getHumidity()}}</td>
                <td>{{weather.getMainParams().getPressure()}}</td>
                <td>{{weather.getWind().getDegree()}}</td>
                <td>{{weather.getWind().getSpeed()}}</td>
                <td>{{weather.getCloud().getAll()}}</td>
            </tr>             
        </tbody>           
    </table>
</div>